body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    color: white;
}

.container {
    margin-top: 50px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 320px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
}